.wrapper{
	width: 1200px;
	margin: 0 auto;
}
.info{
	position: relative;
	height: 150px;
	padding: 10px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.title{
	padding-top: 90px;
	text-align: center;
	font-size: 30px;
	color: #fff;
}
.msg{
	line-height: 20px;
	color: #eee;
	text-align: right;
	font-size: 12px;
}
.content{
	padding: 10px;
}
.content img{
	max-width: 100%;
}

@media (max-width: 768px){
	.wrapper{
		width: 100%;
	}
}